    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    }
    body{
           width: 100%;
           height: auto; 
    }
    .logo{
        width: 60px;
    }
    .cc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: white;
    }
    .navbar-main {
    background: rgb(255, 255, 255);
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .navbar-main .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    }

.navbar-main .menu > li {
    position: relative;
    display: flex;
}

.navbar-main .menu > li > a {
    display: block;
    padding: 18px 10px;
    color: black;
    font-size: 18px;
    font-family: 'poppins',Georgia, serif;
    text-decoration: none;
}

.navbar-main .menu > li:hover > a {
    color: #333;
}
.navbar-main .menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f9f9f9;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #ccc;
    z-index: 999;
}

.navbar-main .menu li:hover > ul {
    display: block;
}

.navbar-main .menu li ul li a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    background: #f9f9f9;
}

.navbar-main .menu li ul li a:hover {
    background: #ddd;
}

.navbar-main .menu li ul li {
    position: relative;
}

.navbar-main .menu li ul li ul {
    top: 0;
    left: 100%;
}
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 80px;
        border: 0px solid black;
    }
    .header a{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        color: rgb(0, 29, 132);
    }
    .header i{
        font-size: 30px;
    }
    .masuk{
        width: 90px;
        height: 50px;
        border: 1px solid rgb(186, 186, 186);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        transition-duration: 300ms;
    }
    .masuk2{
        width: 90px;
        height: 50px;
        border: 1px solid rgb(186, 186, 186);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        background-color: rgb(0, 0, 124);
        transition-duration: 300ms;
    }
    .masuk a{
        font-size: 15px;
        transition-duration: 300ms;
    }
    .masuk a:hover{
        color: aliceblue;
    }
    .masuk:hover{
        color: aliceblue;
        background-color: rgb(0, 0, 124);
    }
    .masuk2 a{
        font-size: 15px;
        color: aliceblue;
    }
    .masuk2 a:hover{
        color: rgb(0, 0, 124)
    }
    .masuk2:hover{
        background-color: white;
    }
    .masuk-daftar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .navbar{
        width: 100%;
        height: 30px;
        border: 1px solid rgb(167, 167, 167);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar{
        width: 100%;
        height: 30px;
        border: 1px solid rgb(167, 167, 167);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        transition-duration: 300ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        color: rgb(0, 0, 124);
    }
    .navbar a:hover{
        border-bottom: 1px solid rgb(70, 70, 70);
        color: rgb(82, 82, 82);
    }
    .paket1{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 40px;
        border: px solid black;
    }
    .buku1 a img{
        width: auto;
        max-height: 360px;
    }
    .buku1{
        width: 370px;
        height: 400px;
        border: px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #b8b8b8;
    }
    .judul-money{
        border: px solid black;
        width: 80%;
        height: 20%;
        margin-top: 30px;
    }
    .h2-1{
        color: #6a6a6a;
        
    }
    .judul-money h2{
        font-size: 35px;
    }
    .ket1{
        padding-left: 30px;
    }
    .hemat{
        border: px solid black;
        display: flex;
        justify-items:center ;
        flex-direction: column;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(237, 237, 237);
    }
    .hemat p{
        font-size: 15px;
    }
    .p1{
        font-weight: 600;
    }
    .sinopsis{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
    }
    .wadah-sinopsis{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .buy{
        width: 200px;
        height: 40px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 8px;
        background-color: rgb(0, 0, 124);
        transition: box-shadow 0.3s ease;
    }
    .buy a{
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
    .buy:hover{
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    }
     .header-bawah{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 90px;
        border: 1px solid rgb(187, 187, 187);
    }
    .header-bawah a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 0, 124)   ;
    }
    .header-bawah p{
        font-weight: 500;
    }
    .tootler{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 238, 238);
    }
    .isi{
        width: 200px;
        height: 200px;
        margin: 10px;
        border: 0px solid black;
        display: flex;
        justify-content: start  ;
        align-items: start;
        flex-direction: column;
    }
    .isi a{
        padding: 2px;
        color: black;
        font-size: 13px;
    }